*{
    font-family: arial;
    
}
    
body{
  background:url(../img/logo2.png);
  margin:0px;
  padding: 0px;
  background-color: #0D7377;/*#1BCED5*/    
  min-width: 600px;
    max-width: 1200px;
}
    #contactos{
      float: right;
      width: 200px;
      height: 50px;
      border: 0px auto;
      margin: 0px auto;
      position: fixed;
} 

#wrapper{
    width: 100%;
    height: 100%;
}
#logo {
    background-color:;
    border: 0px;
    width: 100%;
    height: 50px;
    float: left;
    padding: 0px;

}#busqueda {
    background-color:;
    border: 0px;
    width: 250px;
    height: 50px;
    float: right;
    position: relative;
}
#men {
    border: 0px;
    width: 100%;
    height:50px;  
    font-size:99%;
    background:#323232;
    position:relative;
    left:0px;
    margin: 0px 0px 20px 0px;
}

#Portada {
    border: 0px;
    width: 60%;
    height: 20%;  
    float: left;
    font-size:200%;
    text-align:  center;
    background: orange;
    position:relative;
    left:0px;
}
#parrafo{
    height: auto;
    width: 90%;
    text-align: justify;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background:url(../img/fondo.png);
    margin: 2% auto;
    padding: 2% 2% 3% 2%;
    color:#fff;
    box-shadow: 0px 0px 5px 1px black; 
}
#parrafo h1{
    color: #EF0742;
    text-shadow: 4px 4px 6px black;
    margin: -3px 0px 5px 0px;
}
#parrafo p{
      text-shadow: 3px 3px 3px black;
}

      * {
        margin:0px;
        padding:0px;
      }
      
      #header {
        margin:auto;
        width:100%;
        font-family:Arial, Helvetica, sans-serif;
      }
      
      ul, ol {
        list-style:none;
      }
      
      .nav > li {
        float:left;
      }
      
      .nav li a {
        
        color:#fff;
        text-decoration:none;
        padding:16px 12px;
        display:block;
      }
      
      .nav li a:hover {
        background: #B3B3B3;
      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:120px;
      }
      
      .nav li:hover > ul {
        display:block;
        transition: all .6s ease;
      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }
    .nav li > ul > li {
      background: #323232 ;
    }
    #perfil {
    float: left;
    width: 14%;
    height: 100%;
    }
    /*#perfil p:hover{
      background: #B3B3B3;
    }*/
    #perfil p{
        float: left;
    margin: 0px auto;
    padding: 11% 6.9%;
    }
    #perfil img{
background: rgba(255, 255, 255, 0.74);
    float: left;
    border: 2px solid black;
    width: 41%;
    height: 92%;
    margin: 0px 4px 0px 5px;
    }
    #perfil a{
      font-weight: bolder;
      color:white;
    }
    #linea{
      background: rgba(0, 0, 0, .1);
      float: left;
    }
    #linea:before{
    content: '';
    display: block;
    height: 30px;
    /* left: -1px; */
    position: absolute;
    top: 11px;
    width: 1px;
    background: rgba(245, 231, 231, 0.24);
    }
/*    #perfil ul > li{
    float: left;
    width: auto;
    padding: 7% 4.6%;
    }
    #perfil ul >li:hover{
      background: #B3B3B3;
    }*/
      .na > li {
        
      }
      
      .na li a {
        
        color:#fff;
        text-decoration:none;
        padding:16px 9.99px;
        display:block;
        float: left;
      }
      
      .na li a:hover {
        background: #B3B3B3;
      }
      .na li ul li{display:none;position:absolute;min-width:118px;margin-left:70px;float:left;}
      .na li:hover > ul li {display:block;transition: all .6s ease; margin-right:20px; width: 89%;}
      .na li ul li {position:relative;}
      .na li ul li {right:0px;top:0px;}
    .na li > ul > li {background: #323232 ;}



#c-slider {
    margin: 20px 10px 10px 10px;
    height: 300px;
    width: 1000px;
    max-width: 900px;
    /*position: relative;*/
    overflow: hidden;
    box-shadow: 0 0 0 0px #666666,
                0 15px 50px ;
   border: 3px solid black;
   left: 100px;
   float: center;
    
}
#contenidoslider{
  width: 75%;
    height: 75%;
    margin: 3% auto;
    background: url(../img/fondo.png);
    padding: 3% 9.5%;
    box-shadow: 0px 0px 5px 1px black;
}
.contenedor-slider {
  height: 100%;
  float: left;
  width: 100%;
  max-width: 1097px;
  border: 1px solid black;
  position: static;
  overflow: hidden;
box-shadow: 0px 0px 5px 1px black;
    
}

.slider {
  display: flex;
  width: 400%;
}

.slider__section {
  width: 150%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

#recetas{
  width: 100%;
    height:100%;
  padding: 0px 0px 0px 0px;
    margin-top: 10px;
  
   
}
#art{
  width: 90%;
  height: auto;
  text-align: center;
  margin:2% auto; 
  padding: 2.1%;
    background:url(../img/fondo.png); 
   box-shadow: 0px 0px 5px 1px black;
   display: flex; 
}
#articulo{
    width:30%;
    height: 270px;
    text-align: center;
    padding: 1% 1%;
background:rgba(9, 70, 62, 0.68);
margin:0% 1%;
box-shadow: 0 0 9px 0px black, 0px 0px 7px;
     float: left;
}
#articulo img{
  width:99%; 
  height:70%;
  
  border-radius: 25px;
}
#articulo img:hover{
  box-shadow: 0px 0px 20px 3px rgb(20, 143, 216);
  transition: all 0.5s ease;
}
#descripcion{
  padding-top: 7px;
  text-align: left;
  color:#e2e2e2;
  font-family: arial narrow;
}
#descripcion b{
  color:  #1E90FF;
}

#footer{
  width: auto;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
}

.pic:hover{
    background: black;
    border-radius: 49%;

}
.enlance {
    text-decoration: none;
    color: black;
    
}
.enlance:hover {
    text-decoration: underline;
    color: blue;
    
}

#contenedor{
  width: 100%;
  height: auto;
}

#informacion{
  width:75% ;
  height: auto;
  margin:4% auto;
  padding: 3%;
  background:rgba(206, 202, 202, 0.75);
}
table{
    width: 92%;
    margin: 2% auto;
    height: auto;
    padding: 0% 0px 0px 7%;
}
tbody  td{
    padding: 7px 0px 0px 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
}
td img{
    width: 100%;
    height: 200px;
}
tbody  tr{
 padding: 0px 0px 0px 0px;
}
h1{
  color:#fff;
}

#ocultodesactivar{
  width: 30%;
  height:auto;
  margin: 1% auto;
  display: none;
  position: fixed;
    top: 30%;
    left: 35%;
    background: white;
    border-radius: 20px;
}
#contenido{
  width: 90%;
  margin:0px;
  height: 100px;
  margin:1%;
  color:yellow;
  text-align: center;
  background:darkred;
  padding:4%;
  border-radius: 20px;
}
#contenido input[type='button']{
  padding:3% 3%;
  align-content: center;
  margin: 4% 3% 0% 0% ;

}

#imagen{
    
   
  margin: 5px;
}

