*{
	font-family: Arial;

}
html{
	min-height: 100%;
}
body{
 	background:url(../img/logo2.png);background-repeat:repeat;
 	margin:0px;
 	padding: 0px;
 	background-color: #0D7377;
}
#wrapper{
	width: auto;
	height: 100%; /*o 100%*/
}
img{
	background:;
}
#menu{
	width: 100%; height: 10%; background:#323232;
}
.cabecera{
	background: #11999E; padding: 0.2em 2.0em; text-align: center; position: relative;
	border-radius: 20px; width: 60%; margin:0px auto;
}
.cabecera span{
	width: 100%; position: relative; color: white; ; top: -13px; font-size: 10pt;
}
.form-login{
	width: 40%; margin: 4% auto; background:url(../img/fondo.png); text-align: center; 
	border: 3px solid #1c817c; padding-top: 2%; box-shadow: 0 0 10px 0px; position: inherit; 
}
.cabecera h1{
	font-size: 1.4em; color: #fff; font-weight: 500;
}
form{
	padding: 0% 2%;
}
form li{
	 list-style: none; width: 95%; background-color: #F9F6F6;
	border-radius: 5px; border: solid 1px #2B2E4A; margin:17px auto;
}
input[type="text"], select, textarea, input[type="file"],input[type="email"],input[type="password"]{
	width: 100%; padding: 0.3em 0.9em 0.3em 0.9em; color: #3C3B3B; font-size: 17px; background: none;
	font-weight: 500; border; none;
}
.submit{
 padding: 7px 0px 0px 0px;; width: 60%; margin:0px auto;
}
.submit [type="submit"]{
	font-size: 17px; font-weight: 400; color: #fff; cursor: pointer; padding: 1px 50px; 
	width: 100%;border: none; background-color:#E84545; border-radius: 10px; border:none; 
	outline: none;
}
/* no hubo ningun cambio*/
/*input[type="submit"]:hover{
	background: #903749;
}*/
button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 22px;
 background: rgba(255,255,255,0.3);
 border-radius: 10px;
 transition: all 1s ease;
}
 button:hover:before {
 width: 100%;
 border-radius: 10px;
}
.submit button {
    border: 0px solid black;
    /* background: #3a7999; */
    color: #f2f2f2;
    padding: 0px;
    font-size: 17px;
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
}

#derechos{
	width: 100%; height: 5%; background:#323232;padding:4px 0px 0px 0px;
	font-weight: bold; color:; text-align: center;bottom: 0; margin-top: 0px;
	margin-top:-2.44%;
}

a:visited{
	color:red;
}
a{
	text-decoration: none;
	color:red;
}
#volver{
  width: 7%;
  height: auto;
  padding:15.7px;
}
#volver:hover{
  background:#B3B3B3;
}
#volver a{
	padding: 8px 12px;
	color:white;
}

li, ul{
	list-style: none;
}
