html{
  height: auto;
  font-family: Arial;
  margin:0px;
}
body{
  background:url(../../img/logo2.png);
  margin:0px;
  background-color: #0D7377;/*#1BCED5*/
  height: 100%;
  float: left;
}
#wrapper{
    width: 96%;
    height: 100%;/*o 100%*/
    margin: 2% 2% 0% 2%; 
    float: left;
}
#menu{
  width: 100%; height: 5%; background:#323232;padding: 0% 0px 1% 0px;float:left;
}
#conteinfo{
    width: 26%;
    height: auto;
    border-radius: 15px;
    background: rgba(228, 220, 220, 0.7);
    float: left;
    position: ;
    margin-bottom: 10%;
    box-shadow: 0px 0px 12px 0px black;
    padding-bottom: 5%;
    }
#info{
  width: 90%;
    height: 90%;
    margin: 5% auto  
}
#conteimg {width: 94% ; height:40%; background: #8BC34A; padding: 3%; border-radius: 10px;}
#conteimg img{
  width: 100%;height:100%; border-radius:10px;
}
#informacion{
  width: 90%; height:auto; margin:2% auto;
}
#informacion > h3{color:; padding:0% 0% 2% 0%}
#informacion h2{padding-top:2%;}
#conteinfo p{padding-top: 2%;}
#contenedorinformacion{
  width: 69%; height:100%; float: right;background: rgba(228, 220, 220, 0.7); padding:2%;
  border-radius: 15px; box-shadow: 0px 0px 12px 0px black;
}
#derechos{
  width: 100%; height: 5%; background:#323232;padding:4px 0px 0px 0px;
  font-weight: bold; color:; text-align: center;float:; margin-top: 2%;float:left;
}
#men {
    border: 0px;
    width: 100%;
    height:50px;  
    font-size:99%;
    background:#323232;
    position:relative;
    left:0px;
    margin: 0px 0px 20px 0px;
}
#logo {
    background-color:;
    border: 0px;
    width: 100%;
    height: 50px;
    padding: 0px;
    float: left;
}
#header {
margin:auto;
width:100%;
font-family:Arial, Helvetica, sans-serif;
}

.nav > li {
    float:left;
    padding: 0;
    margin:0;
    list-style: none;
  }
  
  .nav li a {
    
    color:#fff;
    text-decoration:none;
    padding:15px 12px;
    display:block;

  }
  
  .nav li a:hover {
    background: #B3B3B3;
  }

  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display:block;
    transition: all .6s ease;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
  }
.nav li > ul > li {
  background:#323232 ;
}
.nav {
        list-style:none;
        margin:0;
        padding:0;
}
.nav ul,li{
	list-style: none;
}
#busqueda {
    border: 0px;
    width: 25%;
    height: 20px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2% auto;
    list-style: none;
}

#contenidocontenido{
  width: 97%;
  height:auto;
  margin: 2% ; 
  float: left;
  background: #323232;
  border-radius: 20px;
  padding:2% 0% 4% 0%;
  box-shadow: 0px 0px 10px 2px black
}
#contenidocontenido2{
      width: 96%;
    height: auto;
    float: left;
    padding: 2%
}
#lateral {
  width: 20%;
  height: 50px;
  background: rgba(228, 220, 220, 0.7);
  float: left;
  border-radius: 20px;
  text-align: center;
  margin: 2% 0px 0px 3%;
  box-shadow: 0px 0px 7px 0px black;
}
#derecho{
  width: 70%;
  height:50px;
  background: rgba(228, 220, 220, 0.7);
  float: right;
  border-radius: 20px;
  margin: 2% 2% 0% 0%; 
  box-shadow: 0px 0px 7px 0px black;
}
#derecho p{
  padding-left: 4%;
  padding-right: 4%;  
}

#text{
  width: 70%;
  height: auto;
  float: right;
  margin: 2% auto;
}
textarea{
  width: 85%;
  height: auto;
  float: left;
}
input[type="submit"]{
margin:2.5% 1% 1.2% 1%;
}
#cont{

}
#contenidocontenido2 h3{
  background: rgba(5, 8, 113, 0.72);
  padding:2%;
  width: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px black;
  color:#fff;
}

#in {
  float: right;
}